<div class="row">
    <div class="col-sm-3 d-flex justify-content-center mt-5">
        <button class="btn btn-primary p-2" routerLink="/admin/categories">Manage
            Categories</button>
    </div>
    <div class="col-sm-3 d-flex justify-content-center mt-5">
        <button class="btn btn-primary p-2" routerLink="/admin/products">Manage Products</button>
    </div>
    <div class="col-sm-3 d-flex justify-content-center mt-5">
        <button class="btn btn-primary p-2" routerLink="/admin/brands">Manage Brands</button>
    </div>
    <div class="col-sm-3 d-flex justify-content-center mt-5">
        <button class="btn btn-primary p-2" routerLink="/admin/orders">Manage Orders</button>
    </div>
</div>