<footer class="text-center bg-dark text-light">
    <div>
        <div class="text-center">
            <h1>Contact Us</h1>
            <p>Email: myAngularStore.com</p>
            <p>Phone: +9100000099</p>
        </div>
        <div class="text-center">
            <h2>Follow Us</h2>
            <a style="margin-right: 10px;"><i class="fa-brands fa-facebook me-1"></i>Facebook</a>
            <a style="margin-right: 10px;"><i class="fa-brands fa-x-twitter me-1"></i>x-Twitter</a>
            <a><i class="fa-brands fa-instagram me-1"></i>Instagram</a>
        </div>
    </div>
</footer>